<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-white text-2xl font-bold">Push notifications</a>
    <ul class="flex space-x-4 items-center">
     
    </ul>
  </div>
</nav>