
<button onclick="requestNotificationPermission()" id="askPermisson">Ask Permission</button>
<button onclick="send()" id="subscribe">Subscribe</button>
<button onclick="unsubscribe()" id="unsubscribe">Unsubscribe</button>

<%- include('./components/pushNotificationForm') %>

<% subscriptions.forEach( subscription => {%>
  <p><%= subscription.endpoint %></p>
<% }) %>